
<h1>Cozy Bingo</h1>
<% if current_user %>
    <%= link_to 'Logout', logout_path %>
<% else %>
    <%= link_to 'Signup', signup_path %>
    <%= link_to 'Login', login_path %>
<% end %>

<% if current_user %>
  <ul>
    <li><%= link_to 'Bingo Cards', admin_bingo_cards_path %></li>
  </ul>
<% end %>