// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main {
  margin: auto;
  max-width: 1200px;
}

.field {
  margin-bottom: 10px;
  
  label {
    display: block;
  }
}